<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Ajouter une réservation</h4>
            </div>
            <div class="card-body">
              <form (ngSubmit)="addAvis()">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Titre" type="text" name="titre" [(ngModel)]="avis.titre">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Description" type="text" name="description" [(ngModel)]="avis.description">
                    </mat-form-field>
                  </div>
                </div>
                <button mat-raised-button class="btn btn-danger pull-right">Ajouter</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title ">Table des avis</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      ID
                    </th>
                    <th>
                      Titre
                    </th>
                    <th>
                      Description
                    </th>
                    <th>
                      Action
                    </th>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let a of aviss">
                      <td>
                        {{a.id}}
                      </td>
                      <td>
                        {{a.titre}}
                      </td>
                      <td>
                        {{a.description}}
                      </td>
                      <td>
                        <button (click)="deleteAvis(a.id)" class="btn btn-danger">Supprimer</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>