<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Ajouter une réservation</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="addReservation()">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="" type="date" name="date" [(ngModel)]="reservation.date">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button class="btn btn-danger pull-right">Ajouter</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Table des réservations</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    ID
                  </th>
                  <th>
                    Date
                  </th>
                  <th>
                    Action
                  </th>
                </thead>
                <tbody>
                  <tr  *ngFor="let r of reservations">
                    <td>
                      {{r.id}}
                    </td>
                    <td>
                      {{r.date}}
                    </td>
                    <td>
                      <button (click)="deleteReservation(u.id)" class="btn btn-danger">Supprimer</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>